body{
    background-color: blue;
}

header{
    background-color: grey;
    margin-left: 50px; 
    margin-right: 50px; 
    border: 10px groove white; 
    padding: 20px 
    border-radius 10px; 
}
    
